/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 *
 * Codes: https://zmk.dev/docs/codes
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// Layer aliases
#define CLM 0
#define NAV 1
#define SYM 2
#define FUN 3
#define NUMB 4





&mt {
  //  flavor = "tap-preferred";
   // tapping_term_ms = <200>;
};

/ { 
    behaviors {
        am: alpha_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "ALPHA_MT";
            #binding-cells = <2>;
            tapping-term-ms = <250>;
            quick-tap-ms = <150>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };
    combos {
        compatible = "zmk,combos";
        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };

         combo_tab {
            timeout-ms = <50>;
            key-positions = <10 11>;
            bindings = <&kp TAB>;
        };

            combo_ralt {
            timeout-ms = <50>;
            key-positions = <17 16>;
            bindings = <&kp RALT>;
        };

                    combo_lalt {
            timeout-ms = <50>;
            key-positions = <11 12>;
            bindings = <&kp LALT>;
        };

                           combo_lgui {
            timeout-ms = <50>;
            key-positions = <12 13>;
            bindings = <&kp LGUI>;
        };


           combo_rgui {
            timeout-ms = <50>;
            key-positions = <17 18>;
            bindings = <&kp RGUI>;
        };



    };

    keymap {
        compatible = "zmk,keymap";

        colemak_dh_layer {
            label = "CLM";
            bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                &kp Q       &kp W           &kp F       &kp P           &kp B 			&kp J           &kp L           &kp U         &kp Y     &kp SQT
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                &kp A       &kp R           &kp S       &kp T           &kp G 			&kp M           &kp N           &kp E         &kp I     &kp O
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                &kp Z      &kp X           &kp C       &kp D           &kp V			&kp K           &kp H        &kp CMMA       &kp DOT    &kp FSLH
        // ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                        &mo NAV        &kp LSFT  		&kp SPC         &mo SYM
        //                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
            >;
        };

        navigation_layer {
            label = "NAV";
            bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                &kp ESC   &am LALT LEFT  &am LCTRL F  &am LALT RIGHT   &kp INS 			&kp PG_UP      &kp PG_DN      &kp HOME      &kp END     &kp CAPS
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                &sk LALT     &sk LGUI    &kp RSHIFT    &sk LCTL       &kp RALT 		    &kp LEFT       &kp DOWN     &kp UP         &kp RIGHT     &kp DEL
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
              &am LGUI Z   &am LGUI X    &am LGUI C      &kp LGUI    &am LGUI V			&kp RET        &kp BSPC     &kp TAB       &kp K_APP   &kp C_AC_PRINT
        // ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                        &none          &trans    		&kp RET         &mo FUN
        //                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
            >;
        };

        symbols_layer {
            label = "SYM";
            bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                &kp EXCL    &kp AT          &kp HASH   &kp DLLR        &kp PRCNT 	    &kp EQUAL      &kp GRAVE    &kp COLON      &kp SEMI     &kp PLUS
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                &sk LALT      &sk LGUI    &kp RSHIFT    &sk LCTL       &kp CARET		&kp STAR       &kp LPAR     &kp LBRC       &kp LBKT     &kp MINUS
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
              &none             &none    &kp BSLH      &kp PIPE         &kp AMPS		&kp TILDE      &kp RPAR      &kp RBRC      &kp RBKT    &kp UNDER
        // ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                        &trans          &mo NUMB    		&trans         &trans
        //                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
            >;
        };

        function_layer {
            label = "FUN";
            bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
              &kp C_STOP    &kp C_PREV      &kp C_PP   &kp C_NEXT    &kp C_BRI_UP 	    &kp F12      &kp F7         &kp F8          &kp F9      &none
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                &sk LALT      &sk LGUI    &kp RSHIFT    &sk LCTL     &kp C_BRI_DN		&kp F11       &kp F4        &kp F5          &kp F6      &none
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
              &kp C_MUTE   &kp C_VOL_DN    &kp BSLH    &kp C_VOL_UP   &kp AMPS		    &kp F10      &kp F1         &kp F2          &kp F3      &none
        // ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                        &none          &trans    		&trans         &none
        //                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
            >;
        };

        num_layer {
            label = "NUMB";
            bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                &none           &none      &none        &none            &none 	        &kp EQUAL      &kp N7         &kp N8          &kp N9      &kp PLUS
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                &sk LALT      &sk LGUI    &kp RSHIFT    &sk LCTL        &none		    &kp STAR       &kp N4        &kp N5          &kp N6      &kp MINUS
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
              &none           &none         &none        &none          &none		    &kp N0       &kp N1         &kp N2        &kp N3      &kp SLASH
        // ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                        &trans          &none    		&trans         &none
        //                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
            >;
        };
	};
};
