/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

## Layer aliases
#define CLM 0
#define NAV 1
#define SYM 2
#define FUN 3
#define NUM 4
#define QWE 5




&mt {
  //  flavor = "tap-preferred";
   // tapping_term_ms = <200>;
};

/ { 

    combos {
        compatible = "zmk,combos";
        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };

         combo_tab {
            timeout-ms = <50>;
            key-positions = <10 11>;
            bindings = <&kp TAB>;
        };

            combo_ralt {
            timeout-ms = <50>;
            key-positions = <17 16>;
            bindings = <&kp RALT>;
        };

                    combo_lalt {
            timeout-ms = <50>;
            key-positions = <11 12>;
            bindings = <&kp LALT>;
        };

                           combo_lgui {
            timeout-ms = <50>;
            key-positions = <12 13>;
            bindings = <&kp LGUI>;
        };


           combo_rgui {
            timeout-ms = <50>;
            key-positions = <17 18>;
            bindings = <&kp RGUI>;
        };



    };

    keymap {
        compatible = "zmk,keymap";

colemak_dh {
    label = "CLM";
    bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
        &kp Q       &kp W           &kp F       &kp P           &kp B 			&kp J           &kp L           &kp U         &kp Y     &kp SQT
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        &kp A       &kp R           &kp S       &kp T           &kp G 			&kp M           &kp N           &kp E         &kp I     &kp O
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        &kp Z      &kp X           &kp C       &kp D           &kp V			&kp K           &kp H        &kp CMMA       &kp DOT    &kp FSLH
// ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                &mo NAV        &kp LSFT  		&kp SPC         &NONE
//                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
    >;
};

navigation {
    label = "NAV";
    bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
        &kp ESC   &am LALT LEFT  &am LCTRL F  &am LALT RIGHT   &kp INS 			&kp PG_UP      &kp PG_DN      &kp HOME      &kp END     &kp CAPS
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        &sm LALT      &sm LGUI    &kp RSHIFT    &sm LCTL       &sm RALT 		&kp LEFT       &kp DOWN     &kp UP         &kp RIGHT     &kp DEL
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
      &am LGUI Z   &am LGUI X    &am LGUI C      &kp LGUI    &am LGUI V			&kp K           &kp H        &kp CMMA       &kp DOT   &kp C_AC_PRINT
// ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                &none          &none    		&kp RET         &none
//                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
    >;
};


	};
};
